
body {
  font-family: sans-serif;
  background: linear-gradient(#b7e4f3, #0bc5f8);
  
}

section {
  padding: 2rem 1rem;
}
.rounded-image {
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

p {
  color: white;
}

@font-face {
  src: HAPPY DONUTS ITALIC.ttf;
}

h1 {
  color: black;
  font-weight: bold;
}


form {
  color: aliceblue;
  margin: 80px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background: rgb(5, 124, 163);
}




