
body {
  font-family: sans-serif;
  background: linear-gradient(#b7e4f3, #0bc5f8);
  
}

section {
  padding: 2rem 1rem;
}
.rounded-image {
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

p {
  color: white;
}


h1 {
  color: rgb(2, 2, 2);
  font-weight: bold;
}


form {
  color: aliceblue;
  margin: 80px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  background: rgb(5, 124, 163);
}

.d-flex {
  display: flex;
  background-color: rgb(252, 247, 247);
  box-shadow: 4px 4px 10px rgb(218, 213, 213);
  height: 40px;
  width: 1110px;
  margin-bottom: 10px;
  box-shadow: 50px;
  margin: 20px;
}

.container-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-2 {
  background: white;
  width: 250px;
  height: 350px;
  margin: 10px;
}

.card-image {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
}

.car-1 {
  background-image: url(img/1.jpg);
}

.car-2 {
  background-image: url(img/2.jpg);
}

.car-3 {
  background-image: url(img/3.jpg);
}

